<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>


<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
            <div class="card w-100">
              <div class="card-body">
                <h2>About Us</h2>
                <p class="card-text">

ShorelineCrypto is New England local business situated in state of Connecticut, USA.
<br>
ShorelineCrypto is owned and operated by Blastinvest, LLC, a US based Informatics Service Business offering Fee for service for Coin Creation, Coin Exchange Listing, Blockchain Consulting, etc.

<hr>
                </p>
            
              </div>
            </div>
        </div>
      </div>
 </div><br><br><br><br>
    </div> <!-- /container -->

    <% include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
