<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>


<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
            <div class="card w-100">
              <div class="card-body">
                <h2>Coin Listing</h2>
                <p class="card-text">
For regular price of 0.01 BTC bitcoin payment, we currently accept new coins to be listed at exchange.  We also offer 50% discount for new coin listing under ShorelineCrypto Coin listing Service Discount Program if the payment is made on Nengcoin (NENG) exclusively. 
<br><br>
We only accept bitcoin forked altcoins (coins with <a href="https://en.bitcoin.it/wiki/Original_Bitcoin_client/API_calls_list">RPC 1.0</a> compatibility).
Cryptonote and Zcash forks and Ethereum tokens are currently not accepted<br><hr><br>

Please follow below steps to request your coin to be listed on the ShorelineCrypto<br>
<br>
1. Confirm that your coin is forked/cloned from bitcoin/litecoin/dogecoin/DASH/PIVX. <br> 
2. You acknowledge that your coin can be subject to delisting from the exchange any time if the monthly trading volume is zero or if we determine the activities of the coin is suspicious of scam or fraudulent activities.  
<br>
3. You agree that in order to protect the exchange from hardfork based 51% attack, you as dev or coin applicant will notify the exchange at no later than 48 hours before the event of any coin software version upgrade that will cause hardfork.
 <br> 
4. Send 0.01 BTC to address:  3QBzsuxc7x32Lmd4zJ4k1XAcPjHT9LCmaM
<br>
or Send 70 million Nengcoin (NENG) to address: NhPaw8rnxneAKZpCBqeMmFnrDx2kX814TT
<br>

5. Send message through support page with title "Request for New Coin Listing <Name> (Symbol)" with below information in msg body:<br><br>
<1> New Coin Listing Payment transaction blockchain link, either Bitcoin or Nengcoin. <br> 
<2> Coin name and ticker<br>
<3> Forum ann thread<br>
<4> Coin Source<br>
<5> Average coin blockchain transfer fee estimate<br><br>
After our team check your coin,we will contact you with further informations or approval notice.<br>
</p>   

            
              </div>
            </div>
        </div>
      </div>
 </div><br><br><br><br>
    </div> <!-- /container -->

    <% include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
